<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>home</title>
</head>

<body>
    

    <div id="menu">
        <div class="menu-container">
          <div class="menu-logotype" onClick="openDrawer()">
            <div></div>
            <div></div>
            <div></div>
    
          </div>
          <div class="link-container">
            <!--Logotype menu-->
            <div class="logotype-container">
              <div></div>
              <h1>Cloud<span>IA</span></h1>
              <p>Find your way !</p>
            </div>
            <!--link menu-->
            <div class="link-container-column">
    
              <div class="column-link">
                <a href="">
                  <div class="row-link">
                    <div style="background-image:url(picture/icon/home.png)"></div>
                    <p>Accueil</p>
                  </div>
                </a>
    
                <a href="">
                  <div class="row-link">
                      <div style="background-image:url(picture/icon/search.png)"></div>
                      <p>Je recherche un métier de la mer</p>
                  </div>
                </a>
    
                <a href="">
                  <div class="row-link">
                    <div style="background-image:url(picture/icon/hearth.png)"></div>
                    <p>Ma wishlist</p>
                  </div>
                </a>
                <a href="">
                    <div class="row-link">
                      <div style="background-image:url(picture/icon/user.png)"></div>
                      <p>Connexion</p>
                    </div>
                  </a>
              </div>
                
              </div>
            </div>
    
          </div>
        </div>
      </div>

    <section id="start-section">
        <div class="container-start-section">
            <div class="logo-container">
                <span>
                    <div class="circle-10"></div>
                    <div class="circle-20"></div>
                    <div class="circle-full">

                    </div>
                </span>
            </div>
            <div class="text-container">
                <div class="logo-text-container">

                </div>
                <div class="white-background-text">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry. Lorem Ipsum has been the
                        industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                    </p>

                    <div class="mouse-switch">
                        <span></span>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section id="card-start-home">
        <div class="card-container">
            <div class="card-left">
                <div class="card-icons">

                </div>
            </div>
            <div class="card-right">
                <h2>Cloud<span>IA</span></h2>
                <h1>Cherchons un métier dédié à la mer !</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <button>
                    Commençons ensemble !
                </button>
            </div>
        </div>
    </section>

    <section id="data-section">
        <h1>Quelques données</h1>
        <div class="container-part">
            <div class="data-part">
                <div style="background-image: url(picture/icon/plus.png)"></div>
                <h2>1000 <span>super data</span></h2>
            </div>
            <div class="data-part">
                <div  style="background-image: url(picture/icon/plus.png)"></div>
                <h2>1000 <span>super data</span></h2>
            </div>
            <div class="data-part">
                <div style="background-image: url(picture/icon/plus.png)"></div>
                <h2>1000 <span>super data</span></h2>
            </div>
            <div class="data-part">
                <div style="background-image: url(picture/icon/plus.png)"></div>
                <h2>1000 <span>super data</span></h2>
            </div>
            <div class="data-part">
                <div style="background-image: url(picture/icon/plus.png)"></div>
                <h2>1000 <span>super data</span></h2>
            </div>

        </div>
    </section>


    <section id="financement-section">
        <h1>Ils nous financent</h1>
        <div class="container-part">
            <div style="background-image: url(picture/partner/logo-region.png)"></div>
            <div style="background-image: url(picture/partner/MEAE.png)"></div>
        </div>
    </section>

    <section id="partners-section">
        <h1>Ils nous soutiennent</h1>
        <div class="container-part">
            <div class="icons-part">
                <div style="background-image: url(picture/partner/MEN.png)"></div>
                <div style="background-image: url(picture/partner/MES.png)"></div>
                <div style="background-image: url(picture/partner/MLT.png)"></div>
                <div style="background-image: url(picture/partner/OIP.png)"></div>
                <div style="background-image: url(picture/partner/ONISEP.png)"></div>
                <div style="background-image: url(picture/partner/PE.png)"></div>
            </div>
        </div>
    </section>


    <section id="footer">
        <div class="title-part">
            <div class="text">
                <h1>Cloud<span>IA</span></h1>
                <div></div>
            </div>
            <div class="icon">

            </div>
        </div>
        <ul class="menu-list">
            <a href=""> 
                <li>Accueil</li>
            </a>
            <a href="">
                <li>Je recherche un métier de la mer</li>
            </a>
            <a href="">
                <li>Ma wishlist</li>
            </a>
            <a href="">
                <li>Connexion</li>
            </a>
        </ul>

        <ul class="legal-list">
            <li>Politiques de confidentialités</li>
            <li>Mentions légales</li>
        </ul>

        <p>Tous droits réservés Cloud<span>IA ©2022</span></p>
    </section>

</body>

</html>


<script>
    function openDrawer() {
        if(document.getElementById('menu').classList.contains('active-menu')){
          document.getElementById('menu').classList.remove('active-menu')
        }
        else{
          document.getElementById('menu').classList.add('active-menu');
        }
      }
</script>