{% load sass_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CloudIA</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="{% sass_src 'style.scss' %}" rel="stylesheet" type="text/css" />

</head>
<body>
<section id="wrap" class="wrapRegister">

    <!-- TODO Use API route to register -->
    <div id="regFormClaudia">
      <div id="claudiaCircle">
        <div id="outter"></div>
        <div id="medium"></div>
        <div id="inner"></div>
      </div>

      <form action="api/onboarding" id="onboardingForm" method="POST">

        <!-- One "tab" for each step in the form: -->
        <!-- Question 1 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Bienvenue! Je suis CloudIA</h1>
          </div>
          <div id="onboardingText">
            <p>
             Je suis là pour te guider et te recommander les métiers du secteur maritime qui te plairont le plus.
            Comment tu t'appelles ?
            </p>
          </div>
          <div class="form_input">
            <input type="text" name="firstName">
            <p>Prénom</p>
          </div>
        </div>

        <!-- Question 2 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Heureux de te connaitre !</h1>
          </div>
          <div id="onboardingText">
            <p>
              Je peux baser mes recommendations de formation sur ta position actuelle, ou tu as une préférence ?
            </p>
          </div>
          <div class="button-container-form">
            <div class="button-selected">
              <input type="checkbox"
                     name="which-choice"
                     value="here"
                     id="currentLocation"
                     @click="toggleLocations()"
              />
              <div>
                <p>Ma position actuelle</p>
              </div>
            </div>
          </div>
            <p>Ou alors</p>
            <div class="form_input">
              <input type="text" name="firstName" id="customLocation" >
              <p>Une ville</p>
            </div>

        </div>

        <!-- Question 3 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Dis en moi plus sur ta situation actuelle</h1>
          </div>
          <div id="onboardingText">
            <p>
              Pour t'aider dans ta recherche, il faut que j'en sache plus sur ta situation actuelle.
            </p>
          </div>
          <div class="button-container-form">
            <div class="button-selected" >
              <input type="radio" name="schoolLevel" value="college" />
              <div>
                <p>Collège</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="radio" name="schoolLevel" value="highSchool" />
              <div>
                <p>Lycée</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="radio" name="schoolLevel" value="unemployed" />
              <div>
                <p>Recherche d'emploi</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="radio" name="schoolLevel" value="employee" />
              <div>
                <p>Salarié</p>
              </div>
            </div>

          </div>
        </div>

        <!-- Question 4 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Parle moi de ce que tu recherches !</h1>
          </div>
          <div id="onboardingText">
            <p>
              Explique moi ce que tu cherches à vivre a travers ton futur métier pour que l'on trouve celui qui est fait pour toi.
            </p>
          </div>
          <div class="button-container-form">
            <div class="button-selected" >
              <input type="checkbox" name="interests" value="aventure" class="interestCheckbox"/>
              <div>
                <p>L'aventure</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="checkbox" name="interests" value="meet" class="interestCheckbox"/>
              <div>
                <p>Rencontrer des gens</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="checkbox" name="interests" value="logistique" class="interestCheckbox"/>
              <div>
                <p>La logistique</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="checkbox" name="interests" value="animals" class="interestCheckbox"/>
              <div>
                <p>Les animaux marins</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="interests" value="tech" class="interestCheckbox"/>
              <div>
                <p>Les technologies</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="interests" value="construction" class="interestCheckbox"/>
              <div>
                <p>La construction</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="interests" value="farming" class="interestCheckbox"/>
              <div>
                <p>L'agriculture</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="interests" value="decouverte" class="interestCheckbox"/>
              <div>
                <p>Les découvertes</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="interests" value="organisateur" class="interestCheckbox"/>
              <div>
                <p>Organiser</p>
              </div>
            </div>

          </div>
        </div>

        <!-- Question 5 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Dis en moi plus sur ta personnalité</h1>
          </div>
          <div id="onboardingText">
            <p>
              Un bon job est un job qui te plaît. Choisis le trait de caractère qui te correspond le plus, mes recommandations seront meilleures.
            </p>
          </div>
          <div class="button-container-form">
            <div class="button-selected" >
              <input type="checkbox" name="personality" value="sportof" />
              <div>
                <p>Rester en mouvement</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="checkbox" name="rencontrer" value="altruiste" />
              <div>
                <p>Aider les gens</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="checkbox" name="personality" value="cérébral" />
              <div>
                <p>Résoudre des problèmes</p>
              </div>
            </div>

            <div class="button-selected">
              <input type="checkbox" name="organisateur" value="organisateur" />
              <div>
                <p>Gérer l'organisation</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="personality" value="curieux" />
              <div>
                <p>Curieux</p>
              </div>
            </div>
            <div class="button-selected">
              <input type="checkbox" name="personality" value="amoureuxdelanature" />
              <div>
                <p>Amoureux de la nature</p>
              </div>
            </div>

          </div>
        </div>

        <!-- Question 6 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Dans quel environnement préfèrerais-tu travailler</h1>
          </div>
          <div id="onboardingText">
            <p>
              Pour améliorer toujours plus mes recommandations, il faut que tu me dises quelle situation te convient le plus.
            </p>
          </div>
          <div class="button-container-form">
            <div class="button-selected" >
              <input type="radio" name="environmentWish" value="boat" />
              <div>
                <p>Sur un bateau</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="environmentWish" value="port" />
              <div>
                <p>Dans un port</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="environmentWish" value="office" />
              <div>
                <p>Dans un bureau</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="environmentWish" value="farm" />
              <div>
                <p>Dans une exploitation agricole maritime</p>
              </div>
            </div>

          </div>
        </div>

        <!-- Question 7 -->
        <div class="tab">
          <div id="onboardingTitle">
            <h1>Pour finir, quelle fillière de la mer te plairait ?</h1>
          </div>
          <div id="onboardingText">
            <p>
              J'en sais presque assez sur toi maintenant, précise moi juste quel domaine du monde de la mer te fait le plus envie.
            </p>
          </div>
          <div class="button-container-form">
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Transport et logistique</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Autorités portuaires</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Navale</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Marchande</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Maintenance</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Sécurité et sûreté</p>
              </div>
            </div>
            <div class="button-selected" >
              <input type="radio" name="domainWish" value="choice" />
              <div>
                <p>Technologies</p>
              </div>
            </div>

          </div>
        </div>
    </form>
    </div>

    <div id="onboardingFooter">
      <div id="onboardingBreadCrumb">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
      <div id="onboardingPrevious">
{#        <img src="arrow_next.png" alt="Prochaine étape">#}
          <img src="{% static 'img/arrow_next.png' %}" alt="Retour arrière">
      </div>
      <div id="onboardingNext">
          <img src="{% static 'img/arrow_next.png' %}" alt="Prochaine étape">
      </div>
{#      <div id="onboardingNext">#}
{#        <img src="src/assets/img/arrow_next.png" alt="Terminer le formulaire">#}
{#      </div>#}
    </div>
  </section>
<script>

document.addEventListener('DOMContentLoaded', initClickEvents)
var currentTab = 0;
nextPrev(0, true)

function initClickEvents() {
    document.getElementById('onboardingNext').addEventListener("click", function () {
        nextPrev(1, true)
    })
}

function showTab(n) {
      var x = document.getElementsByClassName("tab");
      x[n].style.display = "flex";
      x[n].classList.add("displayTab");

      this.fixStepIndicator(n)
    }
function nextPrev(n, validate) {
      var x = document.getElementsByClassName("tab");
      // Exit the function if any field in the current tab is invalid:
      {#if (n === 1 && !this.validateForm() && validate) return false;#}
      // Hide the current tab:
      x[this.currentTab].style.display = "none";
      x[this.currentTab].classList.remove("displayTab");
      // Increase or decrease the current tab by 1:
      this.currentTab = this.currentTab + n;
      // if you have reached the end of the form... :
      if (this.currentTab >= x.length) {
        //...the form gets submitted:
        //TODO Put back form logic
        document.getElementById("onboardingForm").submit();
        return false;
      }
      // Otherwise, display the correct tab:
      this.showTab(this.currentTab);
    }

{#function validateForm() {#}
{#      // This function deals with validation of the form fields#}
{#      var x, y, i, valid = true;#}
{#      x = document.getElementsByClassName("tab");#}
{#      y = x[this.currentTab].getElementsByTagName("input");#}
{#      // A loop that checks every input field in the current tab:#}
{#      for (i = 0; i < y.length; i++) {#}
{#        if(y[i].name == 'userName') {#}
{#          var names = document.getElementsByClassName("inputName");#}
{#          for (var j = 0; j < names.length; j++) {#}
{#            names[j].innerHTML = y[i].value;#}
{#          }#}
{#        }#}
{##}
{#        if(y[i].id == 'password') {#}
{#          var password = document.getElementById("password")#}
{#          var confirm_password = document.getElementById("confirm_password");#}
{##}
{#          if(document.getElementById("passwordMismatch")) {#}
{#            document.getElementById("passwordMismatch").remove()#}
{#          }#}
{#          if(password.value != confirm_password.value) {#}
{#            this.displayMismatchError();#}
{#            valid = false;#}
{#          }#}
{#        }#}
{#        // If a field is empty...#}
{#        if (y[i].value == "") {#}
{#          y[i].className += " invalid";#}
{#          valid = false;#}
{#        }#}
{#      }#}
{##}
{#      if (valid) {#}
{#        document.getElementsByClassName("step")[this.currentTab].className += " finish";#}
{#      }#}
{#      return valid; // return the valid status#}
{#    }#}

function fixStepIndicator(n) {
      // This function removes the "active" class of all steps...
      var i, x = document.getElementsByClassName("step");
      for (i = 0; i < x.length; i++) {
        x[i].className = x[i].className.replace("active", "");
      }
      //... and adds the "active" class to the current step:
      x[n].className += " active";
    }
function toggleLocations() {
      var value = document.getElementById('currentLocation').checked
}
</script>
</body>
</html>

