{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    <link rel="stylesheet" href="../static/data/css/style.css">#}
    <link href="{% sass_src 'data/css/style.scss' %}" rel="stylesheet" type="text/css" />
    <title>home</title>
</head>

<body>

    <section id="register-section">

            <h1>Créer mon compte</h1>
            <form action="../home">
                <div class="form_input">
                    <input type="text" required />
                    <p>Prénom</p>
                </div>
                <div class="form_input">
                    <input type="text" required />
                    <p>E-mail</p>
                </div>
                
                <div class="form_input">
                    <input type="text" required />
                    <p>Identifiant</p>
                </div>
                <div class="form_input">
                    <input type="text" required />
                    <p>Mot de passe</p>
                </div>
                <div class="form_input">
                    <input type="text" required />
                    <p>Confirmation mot de passe</p>
                </div>
                <button type="submit">Créer mon compte</button>
            </form>
          
        </div>

    </section>


</body>

</html>